* {margin: 0; padding: 0;}
ul {list-style: none;}
a {text-decoration: none; color: #141515; display: block;}
img { display: block; border: 0;}

input {
    display: none;
}

body {
    font-family: 'Noto Sans KR';
}